header{
    width: 380px;
    height: 80vh;
    margin: auto;
    border-radius: 10px;
    background: radial-gradient(circle,rgb(48, 48, 164),rgb(178, 123, 123),rgb(147, 116, 63));
}
section{
    text-align: center;
    font-size: 20px;
}
select{
    text-align: center;
    font-size: 17px;
    width: 300px;
    height: 27px;
    border-radius: 10px;
}
button{
    width: 250px;
    height: 30px;
    background-color: rgb(62, 174, 62);
    margin-top: 15px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
}
button:hover{
    background-color: green;
    transform: scale(1.02);
    font-size: 19px;
}
h1{
    text-align: center;
    padding-top: 5px;
}
input{
    width: 300px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}
body{
    background: radial-gradient(circle,rgb(69, 69, 179),rgb(169, 138, 138));
}