header{
    width: 380px;
    height: 95vh;
    margin: auto;
    border-radius: 10px;
    background: radial-gradient(circle,rgb(110, 110, 173),rgb(207, 185, 188));
}
section{
    text-align: center;
    font-size: 20px;
}
select{
    width: 300px;
    height: 27px;
    border-radius: 10px;
}
button{
    width: 250px;
    height: 30px;
    background-color: rgb(62, 174, 62);
    margin: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;
    padding-top: 5px;
}
input{
    width: 300px;
    height: 28px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}
